.commentside {
  width: 0%; 
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  background: white;
  box-shadow: 0 0 10px black;
}
.commentsBtn{
  cursor: pointer;
}

.sidebarHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: 10px;
}